<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="war_robot"> 

    <!-- BASE FOOTPRINT (Ground projection, Z = 0) -->
    <link name="base_footprint"/>

    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.085" rpy="0 0 0"/>
    </joint>

    <!-- BASE LINK (Chassis Body) -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
            <material name="Red"/>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${base_mass}"/>
            <inertia 
                ixx="${base_mass * (base_width**2 + base_height**2) / 12}" 
                ixy="0.0" 
                ixz="0.0" 
                iyy="${base_mass * (base_length**2 + base_height**2) / 12}" 
                iyz="0.0" 
                izz="${base_mass * (base_length**2 + base_width**2) / 12}"/>
        </inertial>
    </link>

</robot>
